[submodule "lib/doctest"]
	path = lib/doctest
	url = git@github.com:doctest/doctest.git
[submodule "lib/imgui-vita"]
	path = lib/imgui-vita
	url = git@github.com:Rinnegatamante/imgui-vita.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "lib/stb"]
	path = lib/stb
	url = git@github.com:nothings/stb.git
[submodule "lib/imgui-filebrowser-vita"]
	path = lib/imgui-filebrowser-vita
	url = git@github.com:ShotgunApe/imgui-filebrowser-vita.git
[submodule "imgui-filebrowser"]
	path = imgui-filebrowser
	url = git@github.com:AirGuanZ/imgui-filebrowser.git
